@import './Mixins.scss';

.About{
  @include section-reset
}

.about-content{
  // border: 1px solid white;
  width: 95%;
  height: 80%;
  display: flex;
  
}

.about-text-hold{
  width: 50%;
  height: 100%;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  article{
    display: flex;
    justify-content: center;
  }
  h1{
    font-size: 4rem;
    margin-bottom: 50px;
    @media screen and (max-width: 1250px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 2rem;
      margin-bottom: 25px;
    }
  };
  p{
    font-size: 1.5rem;
    width: 80%;
    margin: 0;
    line-height: 35px;
    @media screen and (max-width: 1250px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 0.85rem;
    }
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-top: 15px;
  }
}

.about-image-hold{
  width: 50%;
  height: 100%;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.about-image{
  min-height: 80%;
  width: 80%;
  // background-image: url('https://socialplaylists.s3-us-west-1.amazonaws.com/Website+images/andrew+africa.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.image{
  max-height: 750px;
}
