@import './Mixins.scss';

.Home{
  @include section-reset;
  height: 100%;
  width: 100%
}

.section-label{
  @include label-reset
}

.home-content{
  display: flex;
  justify-content: space-around;
  width: 60%;
  line-height: 70px
}

.name{
  font-size: 3.5rem;
}

.intro-hold{
  display: flex;
  flex-direction: column;
}

.intro-head{
  font-size: 2.5rem;
  padding-right: 10px;
}

.intro{
  font-size: 2.5rem
}

.titles-hold{
  display: flex;
}

.photo-hold{
  width: 350px;
  height: 350px;
  border-radius: 200px;
  object-fit: cover;
  background: white;
  background-image: url('https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/13886475_10205130892150579_8267810955602109840_n.jpg?_nc_cat=100&_nc_oc=AQn1CwPNK4yazxRG5Ma6tbp92ExikuA0mVjvh5Lm_hKMzzivLM6wwZ94MGkfu5mOJMI&_nc_ht=scontent-lax3-1.xx&oh=e6e82d89e35b953b3b758711b2ebcddd&oe=5D9E4203');
  background-size: 110%;
  background-repeat: no-repeat
}

.profile-img{
  width: 300px;
  max-height: 300px;
  border-radius: 250px;
}