@import './Reset.scss';

@mixin content-screen-resize{
  @media screen and (max-width: 1300px) {
    height: 120vh
  }
}

#home{
  background: #252525;
  width: 100vw;
  height: 100vh;
}

#about{
  width: 100vw;
  height: 100vh;
  background: #595959;
  @include content-screen-resize
}

#portfolio{
  background: #252525;
  width: 100vw;
  height: 100vh;
  @include content-screen-resize
}

#stack{
  width: 100vw;
  height: 100vh;
  background: #595959;
}


#contact{
  background: #252525;
  width: 100vw;
  height: 100vh;
}