@import './Reset.scss';

#home{
  background: #252525;
  width: 100vw;
  height: 100vh;
}

#about{
  width: 100vw;
  height: 100vh;
  background: #595959;
}

#stack{
  width: 100vw;
  height: 100vh;
  background: #595959;
}

#portfolio{
  background: #252525;
  width: 100vw;
  height: 100vh;
}

#contact{
  background: #252525;
  width: 100vw;
  height: 100vh;
}