@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@mixin section-reset{
  color: white;
  margin-left: 75px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px 0;
  width: calc(100% - 75px);
}

@mixin label-reset{
  position: absolute;
  right: 0;
  font-size: 3rem;
  margin: 25px;
  align-self: flex-start;
  display: none;
}