@import './Mixins.scss';


.Portfolio{
  @include section-reset
}

.portfolio-content{
  // border: 1px solid white;
  width: 95%;
  height: 80%;
  display: flex;
}

.portfolio-item{
  // border: 1px solid red;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-item{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-image{
  max-height: 300px;
  margin: 25px 0;
}

.carousel-image-label{
  margin-bottom: 25px;
}

.portfolio-item-title{
  font-size: 3rem;
}

.portfolio-item-list{
  list-style-type: disc;
  width: 80%;
  line-height: 25px;
  font-size: 1.3rem;
}